* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#wrapper {
    background: linear-gradient( #D9D6CF, #E6E3DE, #F0EEEB, #F0EEEB);
    width: 100%;
    height: auto;
    vertical-align: top;
}

#logo {
    margin: 10px;
}

header {
    /* background: linear-gradient( #D9D6CF, #E6E3DE, #F0EEEB); */
    display: inline-block;
    width: 60%;
    justify: right;
    vertical-align: top;
    margin-left: 200px;
}

.searchform {
    display: inline-block;
    vertical-align: top;
    horizontal-align: right;
    margin: auto;
    margin-right: 20px;
}

#corporate {
    background: linear-gradient( #2562A7, #133D6C);
    color: white;
    margin-left: 280px;
    /* margin: 20px; */
    /* padding: 5px; */
    border-radius: 7px 0px 0px 7px;
    padding: 0px 25px 0px 5px;
    display: inline-block;
    /* position: absolute; */
}

nav {
    width: 600px;
    margin: 5px;
    /* margin-left: 20px; */
    padding: 5px;
    display: inline-block;
    text-align: right;
    justify-items: right;
    vertical-align: top;
}

a {
    text-decoration: none;
    color: grey;
    padding: 3px;
}

input {
    border-radius: 5px;
}

h4 {
    color: #383838;
}

#maincontent {
    background: linear-gradient(#3571B6, #1F446D, #1F446D, #1F446D);
    height: 650px;
}

#div-aside {
    display: inline-block;
    width: 220px;
    margin: 20px;
}

aside {
    background-color: #D4DBE3;
    border: white solid 2px;
    /* width: 100%; */
    /* margin: 15px; */
    padding: 10px;
    box-shadow: 5px 5px 5px #2c2c2c;
    display: inline-block;
}

.butaside {
    border: white solid 1px;
    background: linear-gradient( #2562A7, #133D6C);
    width: 100%;
    margin: 10px 0px;
    padding: 10px;
    color: white;
}

#mainpic {
    display: inline-block;
}

section {
    background-color: #D4DBE3;
    height: 20px;
    padding: 10px;
}

#news {
    color: grey;
    font-weight: 600;
    line-height: 50px;
}

span {
    color: blue;
}

article {
    display: flex;
    margin: 10px;
}

.column {
    border: lightgray solid 2px;
    color: blue;
    background-color: #FFFFFF;
    margin: 10px;
    display: flexbox;
    padding: 10px;
    vertical-align: top;
    text-align: left;
}

.pcolumn {
    width: 55%;
}

.afooter {
    margin: 0px 10px;
}

#pfecha {
    justify-content: right;
    margin-right: 70%;
    display: inline-block;
}

.piper {
    display: inline-block;
    color: grey;
}