* {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    /* font-size: 15px; */
}

#wrapper {
    width: 950px;
    height: 880px;
    /* display: inline-block; */
    background: linear-gradient(rgb(36, 80, 118), rgb(36, 80, 118), rgb(36, 80, 118), rgb(22, 64, 102), rgb(51, 115, 169));
}

#logo {
    width: 350px;
    height: auto;
    margin-top: 15px;
    margin-left: 30px;
    display: inline-block;
    vertical-align: top;
}

#cajaTop-right {
    display: inline-block;
}

.uppertext {
    display: inline-block;
    text-align: right;
    margin-left: 350px;
    margin-right: 10px;
    font-size: 14px;
    /* padding-left: 50px; */
}

.upperlinks {
    color: #fbe200;
}

.searchform {
    margin-left: 50%;
    /* margin right: 10%; */
    padding-right: 20px;
    text-align: center;
    background-color: rgb(65, 64, 64);
    line-height: 50px;
    border-radius: 7px;
    width: 42%;
    font-size: 10px;
    box-shadow: 0 2px 5px 0 rgb(50, 50, 50), 0 2px 5px 0 rgba(0, 0, 0, 2);
}

.form {
    text-align: center;
    border-radius: 7px;
    /* font-size: 12px; */
    box-shadow: 0 2px 5px 0 rgb(50, 50, 50), 0 2px 5px 0 rgba(0, 0, 0, 2);
}

.input {
    text-align: center;
    border-color: gray;
    font-size: 12px;
    width: 70%;
    line-height: 26px;
}

.Search-button {
    background-color: #195080;
    border-radius: 5px;
    width: 35px;
    height: 25px;
    margin-left: 5px;
    padding-left: 4px;
    font-size: 12px;
    box-shadow: 0 2px 5px 0 rgb(50, 50, 50), 0 2px 5px 0 rgba(0, 0, 0, 2);
}

#top-navegator {
    display: inline-block;
    margin-left: 8%;
    width: 88%;
    font-size: 20px;
}

.ul_upperbarra {
    list-style-type: none;
    /* display: inline; */
    text-align: center;
    /* margin: 8px; */
    background: radial-gradient( rgb(86, 148, 199), rgb(50, 122, 189));
    box-shadow: 0 2px 5px 0 rgb(50, 50, 50), 0 2px 5px 0 rgba(0, 0, 0, 2);
    border-radius: 5px;
    padding: 12px;
}

.no_underline {
    text-decoration: none;
    margin: 20px;
}

.barra-li {
    /* list-style-type: none */
    display: inline;
    vertical-align: center;
    /* padding: 20px; */
}

#sidebar {
    text-align: center;
    width: 30%;
    height: auto;
    line-height: 30px;
    display: inline-block;
    margin-left: 24px;
}

#ul-sidebar {
    list-style-type: none;
    margin-left: 1em;
    /* list-style-type: symbols(<); */
    /* display: inline; */
}

.li-sidebar:before {
    content: "»";
    /* Inserta contentenido para reemplazar los bullets */
    padding-right: 8px;
    color: #fbe200;
    font-weight: 800;
    font-size: 10px;
}

#descriptionbox {
    margin-left: 20px;
    margin-right: 35px;
    text-align: center;
    font-size: 13px;
    display: inline-block;
    vertical-align: top;
    width: 55%;
    height: auto;
}

#parraf-description {
    width: 108%;
}

.frases {
    color: #fbe200;
    font-style: italic;
    font-size: 18px;
    line-height: 15px;
}

#div-action-box {
    background-color: white;
    color: black;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    align-content: top;
    padding-left: 10px;
}

.div-ambas_subcajas {
    display: inline-block;
    width: 45%;
    height: auto;
    font-size: 14px;
    vertical-align: top;
}

.linestyle {
    border-top: 5px solid #69A1CF;
    margin-left: 15px;
    margin-right: 15px;
}

h2 {
    color: black;
    line-height: 10px;
}

.parrafos {
    color: black;
    width: 70%;
    margin-left: 50px;
}

span {
    color: #69A1CF;
    font-size: 12px;
}

.ul-bluelist {
    display: inline-block;
    vertical-align: top;
}

.li-bluelist {
    color: black;
    list-style-type: square;
    margin-left: 2em;
    padding-left: 0px;
    padding-right: 15px;
}

#no_underline2 {
    text-decoration: none;
    margin: 10px;
    color: #69A1CF;
    line-height: 20px;
}

.footerdata {
    text-align: center;
    color: #69A1CF;
    font-weight: 100;
    margin-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
    /* line-height: 5px; */
    font-size: 18px;
}

#a-footer {
    color: #69A1CF;
}

#copyright {
    font-size: 10px;
    margin-top: 20px;
}